<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-64/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad 1 de la semana 3**

**Maestría en Inteligencia Artificial Aplicada**

**Curso: Ciencia y analítica de datos (Gpo 10)**

**Tecnológico de Monterrey**

**Prof Jobish Vallikavungal Devassia** 

**Nombre del estudiante: Juan Sebastián Téllez López**

**Matrícula: A01793859** 

Nombre del estudiante 2: José Fabricio Barahona Amaya 

Matricula: A01793950

**Fecha: Octubre 04/2022**

# **Parte 1: Fundamentos de bases de datos**

**Fundamentos de bases de datos y para ciencia de datos.**

Cuando trabajamos con datos, es importante conocer que estos no aparecen mágicamente, sino que detrás de toda esta información se encuentra un proceso de extracción, transformación y carga, más conocido como ETL. El cual nos indica el proceso de los datos y a continuación comentaré algunas ideas principales a tener en cuenta.

*	Cada empresa almacena sus datos de una forma diferente, algunas incluso aun lo siguen haciendo en papel, otras que se van alineando a las nuevas tecnologías lo realizan mediante el uso de Excel, o DBMS como Access o SQL, y en este proceso pueden crearse tablas de información de 2 tipos relacionales o no relaciones, para el caso del primero se caracteriza mediante conexiones que tienen diversas tablas mediante un identificador en cambio las relacionales no lo tienen y utilizan otras técnicas.
*	No todas las empresas tienen buenas prácticas en la gestión de la información, atendiendo a los principios de normalización de los datos, que buscan que la información no sea redundante, este bien organizada y sea de fácil acceso, ya que esto implica un amplio conocimiento respecto a las relaciones internas que tienen los datos y como se comunican entre ellos, permitiendo generación de información mediante tablas.
*	Para el proceso de Transformación de la información, depende del origen de la misma, que tan complicado sea el proceso de preparación de los datos para su uso, esto incluye lidiar con valores vacíos, valores incorrectos, tipos de dato que no corresponden, o valores duplicados, este proceso requiere dedicar la mayor parte del tiempo de los analistas, ya que así se evita brindar información errónea a los clientes.
*	Para el proceso de carga de la información, se recurre a herramientas o procesos automatizados que permitan acortar tiempos y esfuerzo humano, en tareas que tal vez resulten repetitivas, ya que, para esta etapa de carga, es cuando la información va destinada a diversas fuentes de visualización o de gestión, y se debe garantizar el cumplimiento de ciertos parámetros de calidad de los mismos.

En general, es importante que cada negocio tenga definida su estructura para el manejo y flujo de información, procurando siempre salvaguardarla y acceder de una forma rápida a ella.

**Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

Es un concepto que busca almacenar información en la nube, y ultimamente se ha vuelto muy mencionado en las compañias (medianas - grandes), debido a la versatilidad y las ventajas que ofrece a sus usuarios. El concepto es muy sencillo, pensemos en una sala de ordenadores donde podemos almacenar toda nuestra información, pero en este caso en la nube, sin tener que preocuparnos por espacios fisicos o incluso mantenimiento constante, lo cual resulta una responsabilidad enorme. Estos servicios, como AWS, Google Cloud, entre otros, ofrecen alternativas para almacenar, gestionar y brindar un acceso rápido y seguro a la información, desde cualquier lugar 24/7, lo cual, mediante unos precios accesibles, lo vuelve en una alternativa llamativa. Aunque cabe mencionar algunos limitantes como puede ser en temas de posibles vulnerabilidades de seguridad, o si en algun momento se presenta intermitencia en el servicio, incluso si la cantidad de información amerita adquirir un servicio como estos.

![image.png]()

Imagen 1. Data warehouse Architecture (Recuperado de. https://todobi.com/comparativa-de-las-15-mejores-soluciones-de-data-warehouse/)

# **Parte 2: Selección y limpieza de los Datos en Python**

Guardamos la fuente de nuestros datos en una variable

In [ ]:
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

Leemos nuestros datos en un DataFrame

In [ ]:
import pandas as pd 
df = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Para una mejor comprensión del Dataset, considero importante darle nombre a las columnas para relacionar mejor la información que contienen, teniendo en cuenta su descripción, y que cualquier persona pueda entender de que trata. https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt

In [ ]:
da = df.rename(columns = {'X1' : 'Amount_Given',
                          'X2' : 'Gender',
                          'X3' : 'Education',
                          'X4' : 'Marital_Status',
                          'X5' : 'Age',
                          'X6' : 'Pay_September',
                          'X7' : 'Pay_August',
                          'X8' : 'Pay_July',
                          'X9' : 'Pay_June',
                          'X10': 'Pay_May',
                          'X11': 'Pay_April',
                          'X12': 'Amount_September',
                          'X13': 'Amount_August',
                          'X14': 'Amount_July',
                          'X15': 'Amount_June',
                          'X16': 'Amount_May',
                          'X17': 'Amount_April',  
                          'X18': 'A_Paid_September',
                          'X19': 'A_Paid_August',
                          'X20': 'A_Paid_July',
                          'X21': 'A_Paid_June',
                          'X22': 'A_Paid_May',
                          'X23': 'A_Paid_April',      
})
da.head(5) #Para visualizar los 5 primeros registros y darnos una idea general de los datos

,ID,Amount_Given,Gender,Education,Marital_Status,Age,Pay_September,Pay_August,Pay_July,Pay_June,...,Amount_June,Amount_May,Amount_April,A_Paid_September,A_Paid_August,A_Paid_July,A_Paid_June,A_Paid_May,A_Paid_April,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Procedemos a revisar que valores nulos tenemos y en donde.

In [ ]:
da.isna().any()

ID                  False
Amount_Given        False
Gender               True
Education            True
Marital_Status       True
Age                  True
Pay_September        True
Pay_August           True
Pay_July             True
Pay_June             True
Pay_May              True
Pay_April            True
Amount_September     True
Amount_August        True
Amount_July          True
Amount_June          True
Amount_May           True
Amount_April         True
A_Paid_September     True
A_Paid_August        True
A_Paid_July          True
A_Paid_June          True
A_Paid_May           True
A_Paid_April         True
Y                    True
dtype: bool

Procedemos a describir las metricas generales.

In [ ]:
da.describe()

,ID,Amount_Given,Gender,Education,Marital_Status,Age,Pay_September,Pay_August,Pay_July,Pay_June,...,Amount_June,Amount_May,Amount_April,A_Paid_September,A_Paid_August,A_Paid_July,A_Paid_June,A_Paid_May,A_Paid_April,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

De acuerdo a la propuesta de analisís, procedemos a almacenar en variables las metricas que vamos a utilizar. 

* Age - mean
* Amount (Sep,Aug,July,June,May,April) - mean 
* A_Paid (Sep,Aug,July,June,May,April) - median

**Reemplazo de valores**

Eliminar filas donde falte mas del 50% de la información

In [ ]:
da.dropna(thresh=13, inplace = True) 
da

,ID,Amount_Given,Gender,Education,Marital_Status,Age,Pay_September,Pay_August,Pay_July,Pay_June,...,Amount_June,Amount_May,Amount_April,A_Paid_September,A_Paid_August,A_Paid_July,A_Paid_June,A_Paid_May,A_Paid_April,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

En total solo fueron eliminados 8 Filas que cumplian con dicha condición, lo cual equivale a un 0.03% de los datos.

**Para los valores que serán reemplazados por 0 Gender y Pay(Sep,Aug,July,June,May,April).**

In [ ]:
da['Gender'].fillna(value = 0, inplace = True)
da['Pay_September'].fillna(value = 0, inplace = True)
da['Pay_August'].fillna(value = 0, inplace = True)
da['Pay_July'].fillna(value = 0, inplace = True)
da['Pay_June'].fillna(value = 0, inplace = True)
da['Pay_May'].fillna(value = 0, inplace = True)
da['Pay_April'].fillna(value = 0, inplace = True)
da['Y'].fillna(value = 0, inplace = True)

**Para Education, donde el valor se cambiará a 4.**

In [ ]:
da['Education'].fillna(value = 4, inplace = True)

**Para Edad y Amount(Sep,Aug,July,June,May,April), los cual se completara con la mediana.**

In [ ]:
da['Age'].fillna(value = da.Age.median(), inplace = True)
da['Amount_September'].fillna(value = da.Amount_September.median(), inplace = True)
da['Amount_August'].fillna(value = da.Amount_September.median(), inplace = True)
da['Amount_July'].fillna(value = da.Amount_September.median(), inplace = True)
da['Amount_June'].fillna(value = da.Amount_September.median(), inplace = True)
da['Amount_May'].fillna(value = da.Amount_September.median(), inplace = True)
da['Amount_April'].fillna(value = da.Amount_September.median(), inplace = True)

**Para Paid(Sep,Aug,July,June,May,April) se completaran con la media.**

In [ ]:
da['A_Paid_September'].fillna(value = da.Amount_September.mean(), inplace = True)
da['A_Paid_August'].fillna(value = da.Amount_September.mean(), inplace = True)
da['A_Paid_July'].fillna(value = da.Amount_September.mean(), inplace = True)
da['A_Paid_June'].fillna(value = da.Amount_September.mean(), inplace = True)
da['A_Paid_May'].fillna(value = da.Amount_September.mean(), inplace = True)
da['A_Paid_April'].fillna(value = da.Amount_September.mean(), inplace = True)

Confirmamos que no tengamos datos vacios

In [ ]:
da.isna().any()

ID                  False
Amount_Given        False
Gender              False
Education           False
Marital_Status      False
Age                 False
Pay_September       False
Pay_August          False
Pay_July            False
Pay_June            False
Pay_May             False
Pay_April           False
Amount_September    False
Amount_August       False
Amount_July         False
Amount_June         False
Amount_May          False
Amount_April        False
A_Paid_September    False
A_Paid_August       False
A_Paid_July         False
A_Paid_June         False
A_Paid_May          False
A_Paid_April        False
Y                   False
dtype: bool

# **Parte 3: Preparación de los datos**

Para la limpieza de datos se propuso la siguiente estrategia.

* **Gender:** Dejar valor en 0 ya que no es un valor que podamos asumir por cuestiones éticas, por lo tanto, ese valor puede tomarse como no especificado.
*	**Education:** Dejar valor en 4, especificado en la descripción de los datos como otro, en lo cual puede catalogarse como sin escolaridad o estudios informales.
*	**Marital_Status:** Dejar valor en 3, especificado en la descripción de los datos como otro, ya que puede encontrarse en unión libre, viudo/a, o cualquier otro tipo de relación.
*	**Age:** Se utilizará la mediana para calcular en que posible rango de edad se encuentra la persona.
*	**Pay (Sep,Aug,July,June,May,April):** Se dejarán en 0 en caso de que no se tenga información, debido a que no podemos manipular información registrada por el sistema histórico de transacciones bancario y no sería correcto asumir un valor en el cual la persona pueda quedar como "En deuda", o "Al día", ya que desconocemos a detalle el perfil del cliente.
*	**Amount (Sep,Aug,July,June,May,April):** Los datos faltantes se dejaran como la mediana de los pagos realizados, teniendo en cuenta que más adelante puede realizarse un análisis más a detalle para indagar si las razones de no tener datos de un mes del estado de la cuenta pueda deberse a un fallo en la recolección de los datos, o que el cliente termino de pagar su deuda y al mes siguiente adquirido un nuevo crédito o tuvo un cobro adicional.
*	**A_Paid (Sep,Aug,July,June,May,April):** Similar al caso anterior, los datos faltantes se calcularan en este caso con la media de los pagos anteriores, teniendo en cuenta que más adelante podría analizarse en profundidad si el cliente no registra pagos debido a algún incentivo o exoneración del pago para dichos meses, esto va muy de la mano con las estrategias de retención para evitar el Churn.
*	**Y:** Al ser esta la variable de salida, en caso de que su valor sea nulo, podría tomarse como 0, ya que, en la descripción del dataset se menciona "credible or not credible clients", lo cual puede tomarse como 1 para el primer caso y 0 para el segundo, por lo tanto, no podemos asumir que un cliente es creíble, ya que posiblemente si ese campo no tiene valor es debido a que los modelos de IA aplicados no pudieron concluir apropiadamente este dato, y tampoco nosotros (por el momento).
*	Para el caso de las filas donde falte más del 50% de la información, se procederá a eliminar del dataset, ya que es información que no afecta la naturaleza del mismo al ser incompleta.

**¿Qué datos considero mas importantes? ¿Por qué?**

Cuando hacemos análisis de datos, entre más información tengamos mejor, ya que podemos tener mayores herramientas para generar hallazgos y poder implementar estrategias orientadas al fortalecimiento del negocio. Para el caso específico de este Dataset, se consideraron todas las variables, pero entre los datos más importantes que podríamos encontrar son los relacionados al historial bancario del cliente, es decir, los pagos que él ha realizado, su saldo actual, ya que esto ayuda a tener un panorama general del cliente, el cual se complementa con información como su edad, genero, nivel educativo y estatus de relación.

**¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Como se menciono arriba, inicialmente se eliminaron datos que estuvieran vacios en un 50% ya que no agregaban ni quitaban al analisis, posteriormente se tomaron determinaciones para dejar algunos valores en 0, ya que, por experiencia personal en mi trabajo, cuando hablamos de información bancaria que incluye cifras, estas no podemos manipularlas. Por otro lado, se considero pertinente para algunos datos reemplazarlos por la mediana y otros por su media, para garantizar coherencia entre estos mismos.

**¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

Para el caso de este ejercicio, realmente importaría en el caso que quisieramos saber quienes son los clientes que más atrasados se encuentran con sus pagos, o los que tienen mayor monto aprobado, incluso los que no tienen deudas actuales. Pero, como lo que realizamos en esta primera estapa fue la limpieza de los mismos, realmente no se considero necesario ordenarlos. Pero para una futura etapa de analisis si debe tenerse en cuenta.

**¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

Realmente este dataset tenía datos muy bien organizados, a diferencia de situaciones reales donde uno se encuentra problemas con formatos de fecha, o debe pasar de tipo numérico a texto, incluso donde se tenga que implementar minería de texto para extraer información como números de cuenta escondidos en una columna con más información. Teniendo en cuenta esto, para el caso particular donde estamos en proceso de extracción y transformación posiblemente un pequeño cambio que se podría realizar es que las variables como Genero, edad, educación, estado marital y la variable de salida se garantizara que fueran números enteros, no decimales, para evitar inconvenientes en caso de que el cliente (Banco), tenga procesos automatizados para los cuales requiera formatos específicos en los datos, lo cual es usualmente comunicado con anterioridad.

**¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

* **Agregar:** Para esta etapa del ejercicio, no se añadio ninguna columna adicional, debido que no fue necesario realizar calculos de información complementaria o fue requerido para procesos de separación de columnas o similares. 
* **Integrar:** Se realizaron las transformaciones de datos requeridas para eliminar campos nulos.
* **Eliminar:** Se tomo la decisión de eliminar datos que no afectarán la naturaleza de los datos, de acuerdo a las estrategias aprendidas en las lecturas. 
* **Modificar registros:** Algunos valores se decidio no cambiarlos, debido que como analistas de datos, no podemos alterar información simplemente por llenarla, como es el caso de datos historicos los cuales desconocemos, para otro tipo de información como edad, o nivel de estudios, se puede recurrir a categorias que permitan asignar un valor "Otro", para así no modificar la intención que quieren comunicar los datos. 
* **Cambiar atributos:** Para este punto si considere muy importante el cambiar los nombres de las columnas, porque en el proceso de analisis de los datos, tenemos que pensar en como vamos a comunicar y hacer de manera comprensible la información para otras personas, que tal vez no sean muy habiles tecnicamente, por lo tanto, es importante, realizar nuestro proceso de una forma transparente y explicada a lo largo del mismo.